@font-face {
  font-family: "tttgbnumber";
  src: url("../../../../../resources/font/tttgbnumber.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  width: 642px;
  color: #1e1f20;
  transform: scale(1.5);
  transform-origin: 0 0;
}
.container {
  width: 642px;
  padding: 20px 15px 10px 15px;
  background-image: url(../../img/bg.jpeg);
  background-size: 100%;
}
.head_box {
  border-radius: 15px;
  height: 100px;
  font-family: 'tttgbnumber';
  padding: 10px 20px;
  position: relative;
  color: white;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
}
.head_box .id_text {
  font-size: 24px;
}
.head_box .day_text {
  font-size: 18px;
}
.head_box .genshin_logo {
  position: absolute;
  top: -8px;
  right: 15px;
  width: 97px;
}
.base_info {
  position: relative;
  padding-left: 10px;
}
.uid {
  font-family: tttgbnumber;
}

.data_box {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px 0px 5px 0px;
  background: transparent;
  box-shadow: 0 0 1px 0 #ccc, 2px 2px 4px 0 rgba(50, 50, 50, 0.8);
  position: relative;
}
.data_line {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14px;
}
.data_line_item {
  width: 100px;
  text-align: center;
  /*margin: 0 20px;*/
}
.num {
  font-family: tttgbnumber;
  font-size: 24px;
}
.data_box .lable {
  font-size: 14px;
  color: #7f858a;
  line-height: 1;
  margin-top: 3px;
}

.list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list .item {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  background: transparent;
  box-shadow: 0 0 1px 0 #ccc, 2px 2px 4px 0 rgba(50, 50, 50, 0.8);
  padding: 6px 6px 6px 6px;
  border-radius: 8px;
  margin: 0 0px 10px 10px;
}

.list .item:nth-child(1) {
  padding: 12px 6px 12px 6px;
}

.list .item:nth-child(2) {
  padding: 10px 6px 10px 6px;
}

.list .item:nth-child(3) {
  padding: 8px 6px 8px 6px;
}


.list .item .image{
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .item .icon{
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  flex-shrink: 0;
}
.list .item:nth-child(1) .icon{
  width: 32px;
  height: 32px;
}

.list .item:nth-child(2) .icon{
  width: 28px;
  height: 28px;
}

.list .item:nth-child(3) .icon{
  width: 24px;
  height: 24px;
}
.list .item .title{
  font-size: 14px;
  margin-left: 6px;
  line-height: 20px;
  width: 186px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.list .item:nth-child(1) .title{
  font-size: 20px;
}

.list .item:nth-child(2) .title{
  font-size: 18px;
}

.list .item:nth-child(3) .title{
  font-size: 16px;
}


.list .item .level{
  font-size: 14px;
  margin-left: 6px;
  line-height: 20px;
  width: 92px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list .item:nth-child(1) .level{
  font-size: 20px;
}

.list .item:nth-child(2) .level{
  font-size: 18px;
}

.list .item:nth-child(3) .level{
  font-size: 16px;
}


.list .item .avatar{
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .item .avatar .icon{
  width: 20px;
  height: 20px;
  border: 1px solid #e6d9be;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  flex-shrink: 0;
}
.list .item:nth-child(1) .avatar .icon{
  width: 32px;
  height: 32px;
}

.list .item:nth-child(2) .avatar .icon{
  width: 28px;
  height: 28px;
}

.list .item:nth-child(3) .avatar .icon{
  width: 24px;
  height: 24px;
}

.list .item .dec{
  font-size: 12px;
  color: #999;
  display: flex;
  flex: 1;
  justify-content: end;
  padding-right: 10px;
}

.list .item:nth-child(1) .dec{
  font-size: 18px;
}

.list .item:nth-child(2) .dec{
  font-size: 16px;
}

.list .item:nth-child(3) .dec{
  font-size: 14px;
}

.logo{
  text-align: center;
  font-size: 14px;
  color: white;
  font-family: 'tttgbnumber';
}

.exp {
  color: #d3bc8e;
  display: inline-block;
  border-radius: 3px;
  padding: 0 3px;
  margin: 1px 2px;
}