* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  transform: scale(1);
  transform-origin: 0 0;
}
.container {
  width: 900px;
  background-color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
}

.title {
  text-align: center;
}

.content {
  margin: 15px auto;
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
}
th,td {
  border: 1px solid rgb(255, 161, 10);
  padding: 10px;
  text-align: left;
}