@font-face {
  font-family: "tttgbnumber";
  src: url("../../../../../resources/font/tttgbnumber.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  width: 640px;
  color: #1e1f20;
  transform-origin: 0 0;
  position: relative;
}
.container {
  width: 640px;
  height: 640px;
  background-image: url(../../img/gobang/bg.png);
}
#canvas {
  width: 640px;
  height: 640px;
}

.hindex {
  position: absolute;
  top: -1px;
  left: 5px;
  z-index: 1000;
}
.hindex span{
  display: inline-block;
  width: 42px;
  text-align: center;
}

.vindex {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 15px;
  margin: 0 auto;
  line-height: 42px;
  word-wrap: break-word;
  word-break:break-all;
  z-index: 1000;
}


.hindex1 {
  position: absolute;
  bottom: 0px;
  left: 5px;
  z-index: 1000;
}
.hindex1 span{
  display: inline-block;
  width: 42px;
  text-align: center;
}

.vindex1 {
  position: absolute;
  top: 7px;
  right: 2px;
  width: 15px;
  margin: 0 auto;
  line-height: 42px;
  word-wrap: break-word;
  word-break:break-all;
  z-index: 1000;
}