@font-face {
  font-family: "tttgbnumber";
  src: url("../../../../../resources/font/tttgbnumber.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  width: 496px;
  color: #1e1f20;
  transform: scale(1.5);
  transform-origin: 0 0;
  position: relative;
}
.container {
  width: 510px;
  padding: 15px;
}
#canvas {
  background-color: #fff;
  width: 480px;
  height: 480px;
}

.hindex {
  position: absolute;
  top: 12px;
  left: 30px;
}
.hindex span{
  display: inline-block;
  width: 30px;
  text-align: center;
}

.vindex {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 15px;
  margin: 0 auto;
  line-height: 30px;
  word-wrap: break-word;
  word-break:break-all;
}
