@font-face {
  font-family: "tttgbnumber";
  src: url("../../../../../resources/font/tttgbnumber.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-size: 16px;
  font-family: "tttgbnumber";
  transform: scale(1.5);
  transform-origin: 0 0;
  color: #1e1f20;
}
.container {
  width: 400px;
  height: 316px;
  background: white;
}
.cover {
  width: 100%;
}
.cover img {
  width: 100%;
}
.meta {
  display: flex;
  padding: 12px;
}
.meta .left {
  width: 60px;
}
.left img{
  height: 52px;
}
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.detail .title {
  overflow: hidden;
  color: #000000d9;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detail .desc {
  color: #00000073;
  font-size: 14px;
  text-align: center;
}